vpc_cidr_block = "10.10.0.0/16"
subnet_cidr_block = "10.10.0.0/24"
avail_zone = "us-east-1a"
env_prefix="tf-pracitce"
my_ip_cidr="12.32.123.123/32"
ec2_instance_type="t2.micro"
pubic_key_filepath="~/.ssh/id_rsa.pub"